body{
    font-family: 'Gayathri', 'sans-serif';
    background: url(../image/Beautiful-light-circles-colors.jpg) center fixed;
    background-size: cover;
}

#container{
    font-size: 32px;
    margin: 128px auto;
    width: 50%;
}

h1{
    text-align: center;
    color: #fff;
    margin-bottom: 5%;
    font-size: 2.1em;
    font-weight: bold;
}

#calculator, #number{
    border-radius: 6px;
}

#calculator{
    margin: 0 auto;
    background-color: #1442a5;
    border: 2px solid rgb(40, 121, 29);
    width: 48%;
    padding-bottom: 0.8em;
}

#header{
    padding: 10px;
    padding-bottom: 0.8em;
    border-top: 1px solid #93e64f;
    border-radius: 6px 6px 0 0;
}

input#number{
    text-align: right;
    background-color: #121212;
    border: none;
    color: #93e64f;
    font-size: 20px;
    padding: 15px;
    border-bottom: 1px solid #93e64f;
    box-shadow: inset 0 0 4px 1px;
    margin-top: 0.8em;
    width: 98%;
}

#body-calculator{
    padding: 0 10px;
}

.buttons{
    cursor: default;
    text-align: center;
    padding: 7px 12px;
    font-size: 20px;
    color: #000;
    text-shadow: 0 -1px 1px rgba(24, 83, 18, 0.74);
    font-weight: bold;
    display: inline-block;
    border-top: 1px solid #93e64f;
    background: linear-gradient(rgba(8, 163, 78, 0.329) 0%, #367205 100%);
    width: 23%;
    margin-bottom: 10px;
    box-shadow: 0 2px 6px rgba(8, 88, 163, 0.329);
    border-radius: 8px;
}

#clear{
    border: 1px solid #367205;
    font-size: 0.8em;
    font-weight: bold;
    width: 48%;
    box-shadow: 0 2px 6px rgba(8, 88, 163, 0.329);
}

.buttons:hover{
    cursor: pointer;
    background: rgb(17, 175, 180);
}

#clear:hover{
    cursor: pointer;
    background: rgb(190, 54, 12);
    color: #000;
}

